@import "../../../data/styles.css";

.works-body {
	display: flex;
	flex-direction: column;

	padding-right: 2rem;
}

.work {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 0rem 1rem 2rem 1rem ;
	;
}

.work-all{
	display: flex;
	align-items: center;

}

.work-all-title{
	margin-left: 1rem;
}

.work-image {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	outline: 6px solid white;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
}

.work-title {
	font-size: 15px;
	font-weight: 700;
	color: var(--secondary-color);
}

.work-subtitle {

	font-size: 12px;
	color: var(--secondary-color);

}

.work-duration {
	font-size: 12px;
	/* text-align: center; */
	color: var(--tertiary-color);
}
