.logo {
	display: block;
	margin: 0;
	padding: 0;
	border-radius: 50%;
	box-shadow: 1px 2px black, -0.2em 0 .5em gray;
	transition: transform  1s ease-in-out;
}

.logo:hover {
	
	
	transform: rotate(720deg) scale(1.5, 1.5);
	box-shadow: none;
}

@media (max-width: 450px) {
	.logo {
		display: none;
	}

}

