@import "../../data/styles.css";

.homepage-logo-container {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 130px;
}

.homepage-container {
	padding-top: 25px;
}

.homepage-first-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.homepage-first-area-left-side {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.homepage-title {
	width: 85% !important;
}

.homepage-subtitle {
	width: 85% !important;
}

.homepage-first-area-right-side {
	display: flex;
	align-items: center;
}

.homepage-image-container {
	width: 370px;
	height: 370px;
}

.homepage-image-wrapper {
	overflow: hidden;
	border-radius: 10%;
	transform: rotate(3deg);
	box-shadow: 6px 2px black, -1em -1em .9em gray;
	background: #000;

}

.homepage-image-wrapper img {
	width: 100%;
}

.homepage-socials {
	display: flex;
	justify-content: left;
	align-items: center;
}

.homepage-social-icon {
	padding-right: 20px;
	font-size: 25px;
	transition: 0.2s ease-in-out;
	color: var(--secondary-color);
}

.homepage-social-icon:hover {
	color: var(--primary-color);
	transform:  translateY(-3px);
}

.homepage-after-title {
	display: flex;
}

.homepage-skills {
	
	padding: 2rem;
	background-color: rgba(0, 0, 0, 0.123);
	border-radius: 12px;
}

.homepage-skills-title{
	font-family: var(--secondary-font);
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 2px 2px gray;
}

.homepage-articles {
	flex-basis: 800px;
	padding-top: 30px;
	
}

.homepage-article {
	padding-bottom: 5px;
}

.homepage-works {
	flex-basis: 600px;
	padding-top: 30px;
}

.homepage-second-area{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem 0;
}

.button-54 {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	background-color: var(--quaternary-color);
	color: var(--primary-color);
	cursor: pointer;
	border: 3px solid;
	padding: 0.25em 0.5em;
	box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
	position: relative;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	
  }
  
  .button-54:active {
	box-shadow: 0px 0px 0px 0px;
	top: 5px;
	left: 5px;
  }
  .button-54:hover {
	  background-color: var(--tertiary-color);
	}
	
  
  @media (min-width: 768px) {
	.button-54 {
	  padding: 0.25em 0.75em;
	}
  }

@media (max-width: 1024px) {
	.homepage-first-area {
		flex-direction: column;
	}

	.homepage-first-area-left-side {
		display: flex;
		flex-direction: column; /* Changed: set direction to column */
		align-items: flex-start;
		width: 100%;
		order: 2;
	}

	.homepage-title {
		width: 100% !important;
		margin-top: 20px;
		order: 2;
	}

	.homepage-subtitle {
		width: 100% !important;
		margin-top: 10px;
		order: 3;
	}

	.homepage-first-area-right-side {
		width: 100%;
		order: 1;
	}

	.homepage-image-container {
		padding-top: 50px;
		padding-bottom: 50px;
		margin-left: 10px;
		order: 1;
	}

	.homepage-after-title {
		flex-direction: column;
	}

	.homepage-skills {
		flex-basis: auto;
	}

	.homepage-articles {
		flex-basis: auto;

	}

	.homepage-works {
		flex-basis: auto;
		margin-left: -25px;
		margin-right: -25px;
	}
}

@media (max-width: 500px) {
	.homepage-second-area{
		flex-direction: column;
		align-items: flex-start;
	}
	.button-54{
		margin-bottom: 1rem;
	}

	.homepage-image-container {
		width: 340px;
		height: 340px;
		
	}

	.homepage-works {
		padding: 2rem;
	}


}







